<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JM veículos</title>
	<script src="js/lib/angular.min.js" type="text/javascript"></script>
	<script src="js/base.js" type="text/javascript"></script>
	<script src="js/ajax.js" type="text/javascript"></script>
	<script src="js/revendaapi.js" type="text/javascript"></script>
	<script src="js/revendamodel.js" type="text/javascript"></script>
	<script src="js/carroapi.js" type="text/javascript"></script>
	<script src="js/carromodel.js" type="text/javascript"></script>	
	<script src="js/app.js" type="text/javascript"></script>
</head>
<body ng-app="jmapp" ng-controller="indexCtrl">
	<button ng-click='getUrls()' ng-disabled='jm.buscando_urls_carros'>busca apenas urls</button>		
	<p>
		<span ng-show='jm.buscando_urls_carros'>pegando urls</span>		
	</p>
	<p>
		<span ng-show='jm.encontrou_carros_url'>encontrados {[{jm.carros_url.length}]} carros</span> 		
	</p>
	<p>
		<button ng-click='getCarros()' ng-disabled='jm.buscando_informacoes_da_lista_de_carros || !jm.encontrou_carros_url '>
			buscar dados dos {[{jm.carros_url.length > 0 ? jm.carros_url.length : '' }]} carros
		</button>		
	</p>

	<p ng-repeat='carro in jm.carros track by $index' ng-if='jm.carros' style="margin-bottom:30px;"> 
		<img ng-src="{[{foto}]}" alt="{[{carro.nome}]}" ng-repeat='foto in carro.fotos track by $index'>		
	</p>
</body>
</html>