<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JM veículos</title>
	<script src="js/lib/angular.min.js" type="text/javascript"></script>
	<script src="js/base.js" type="text/javascript"></script>
	<script src="js/ajax.js" type="text/javascript"></script>
	<script src="js/carros_api.js" type="text/javascript"></script>
	<script src="js/carros_model.js" type="text/javascript"></script>
	<script src="js/app.js" type="text/javascript"></script>
</head>
<body ng-app="jmapp" ng-controller="indexCtrl">
	<button ng-click="getRevendaInformation()">buscar info</button>
	<span ng-show='jm.buscando_informacoes'>carregando dados</span>
	<div ng-show='!jm.buscando_informacoes'>
		<p>{[{jm.informacoes_revenda.nome}]}</p>
		<p>{[{jm.informacoes_revenda.endereco}]}</p>
		<img src="{[{jm.informacoes_revenda.foto}]}" alt="">
		<p ng-repeat="carro in jm.informacoes_revenda.carros.carro track by $index">
			<a href="{[{carro.href}]}">{[{carro.href}]}</a> 
		</p>
	</div>		
</body>
</html>